<div class="container">
  <h6>Class 15: Directives</h6>
  <h4>Toggling Income</h4>
  <hr>

  <div class="row">
    <div class="col-8 mx-auto">
      <button type="button" 
        class="btn btn-primary m-3"
        (click)="showIncome = !showIncome">
        {{displayIncomeToggleMessage}}
      </button>
    </div>

    <div *ngIf="showIncome == true"
      id="income-list" class="col-8 mx-auto">
      <h5>List of Incomes</h5>
      <ul>
        <li *ngFor="let income of incomeList"
          [ngClass]="{'income': showIncome}"
          appOptimalBorder
          [mouseLeaveBorder]="'6px solid darkred'"
          >${{income}}
        </li>
      </ul>
    </div>

    <div *ngIf="showIncome == false"
      id="expense-list" class="col-8 mx-auto">
      <h5>List of Expenses</h5>
      <ul>
        <li *ngFor="let expense of expenseList"
          [ngClass]="{'expense': showIncome == false}"
          appOptimalBorder
          [mouseOverBorder]="'8px solid teal'"
          >${{expense}}
        </li>
      </ul>
    </div>
  </div>
</div>